bin/
obj/

.vs/
.vscode/

.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

packages/
project.lock.json
project.fragment.lock.json

.dnx/

logs/

wwwroot/

appsettings.Development.json
appsettings.Production.json
appsettings.*.json
*.pfx
*.cer

Migrations/

