<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a0c9b4d0-86bb-45c0-a8ee-b539ba662748/resourceGroups/bookstore-docker/providers/Microsoft.ContainerRegistry/registries/bookstore</ResourceId>
    <ResourceName>bookstore</ResourceName>
    <ResourceGroup>bookstore-docker</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://bookstore.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>36f837bb-68f3-a90b-b140-61b061114de7</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>